In [444]:
import pandas as pd
from dateutil import parser
import datetime
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt;

ImportError: libSM.so.6: cannot open shared object file: No such file or directory

In [2]:
logger1 = pd.read_csv("Truck Logger Data/Truck 1 Data Logger.csv")

/home/ubuntu/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (33,45,65,84,88,91,92,94,110,116,122,124,130,134,135,136,156) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
events = pd.read_csv("Truck Events Files/Events trucks 1_10.csv", encoding='cp1252')

/home/ubuntu/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (10,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
op_events = pd.read_csv("Truck Events Files/operator event ver 1.csv", encoding='cp1252')

In [5]:
op_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214546 entries, 0 to 214545
Data columns (total 21 columns):
MACH_SER_NO        214169 non-null object
PRIM_INFO_TYP      214169 non-null object
SCND_INFO_TYP      214169 non-null object
SCND_INFO_DESC     214032 non-null object
PRIM_CMPNT_DESC    214169 non-null object
SCND_CMPNT_DESC    214169 non-null object
OCUR_TS_Date       214169 non-null object
OCUR_TS            214169 non-null object
SMU                214169 non-null float64
MID                214169 non-null float64
DATA_VAL           214169 non-null float64
DATA_VAL_DESC      207894 non-null object
EVNT_LVL           214169 non-null float64
DUR                214169 non-null object
ACT_LMT            214169 non-null float64
EVNT_ID            214169 non-null float64
CID                214169 non-null float64
ACK_TM             214169 non-null float64
ACK_NO             214169 non-null float64
OCUR_TS_L          214169 non-null object
OCAL               214169 non-null object
dtypes: float64(9), object(12)
memory usage: 34.4+ MB

In [141]:
op_events.OCUR_TS_L.head()

0    6-Oct-15
1    6-Oct-15
2    6-Oct-15
3    6-Oct-15
4    6-Oct-15
Name: OCUR_TS_L, dtype: object

In [156]:
op_events.OCAL[0][0:8]

'08.25.56'

In [150]:
# need to figure out how to clean timestamp in events dataset
def clean_event_date_time(event):
    real_time = event.OCAL[0:8]
    pm_or_am = event.OCAL[-2:]
    
    cleaned_time = real_time + pm_or_am
    cleaned_time = cleaned_time.replace(".", ":")
    
    cleaned_date = event.OCUR_TS_L
    
    cleaned_date_time = cleaned_date + " " + cleaned_time

    return parser.parse(cleaned_date_time)

In [151]:
op_events.isnull().sum()

op_events.dropna(axis=0, inplace=True, how='all')

In [152]:
# op_events1.apply(clean_event_date_time)

# test = op_events1.iloc[8]

# clean_event_date_time(test)

op_events['timestamp'] = op_events.apply(clean_event_date_time, axis=1)

op_events.timestamp.describe()

count                  214169
unique                 164224
top       2015-08-23 07:30:36
freq                        7
first     2015-08-13 18:15:56
last      2016-08-21 13:25:40
Name: timestamp, dtype: object

In [161]:
op_events.OCAL.head()

0    08.25.56.000000000 PM
1    08.41.19.000000000 PM
2    08.43.46.000000000 PM
3    08.50.21.000000000 PM
4    08.53.14.000000000 PM
Name: OCAL, dtype: object

In [162]:
op_events.timestamp.head()

0   2015-10-06 20:25:56
1   2015-10-06 20:41:19
2   2015-10-06 20:43:46
3   2015-10-06 20:50:21
4   2015-10-06 20:53:14
Name: timestamp, dtype: datetime64[ns]

In [164]:
op_events.ix[4707,'OCAL']

'11.40.52.000000000 PM'

In [165]:
op_events.ix[4707,'timestamp']

Timestamp('2016-07-23 23:40:52')

In [9]:
op_events.MACH_SER_NO.value_counts()

Truck 6     82223
Truck 5     62372
Truck 8     54197
Truck 4      3752
Truck 3      3633
Truck 1      2224
Truck 9      1951
Truck 7      1562
Truck 2      1552
Truck 10      703
Name: MACH_SER_NO, dtype: int64

In [10]:
logger1['timestamp'] = pd.to_datetime(logger1.Date + " " + logger1.Time)

In [ ]:
logger1['timestamp'].head()

In [166]:
op_events1 = op_events[op_events.MACH_SER_NO == 'Truck 1']

In [158]:
op_events1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2224 entries, 7 to 214432
Data columns (total 22 columns):
MACH_SER_NO        2224 non-null object
PRIM_INFO_TYP      2224 non-null object
SCND_INFO_TYP      2224 non-null object
SCND_INFO_DESC     2222 non-null object
PRIM_CMPNT_DESC    2224 non-null object
SCND_CMPNT_DESC    2224 non-null object
OCUR_TS_Date       2224 non-null object
OCUR_TS            2224 non-null object
SMU                2224 non-null float64
MID                2224 non-null float64
DATA_VAL           2224 non-null float64
DATA_VAL_DESC      1875 non-null object
EVNT_LVL           2224 non-null float64
DUR                2224 non-null object
ACT_LMT            2224 non-null float64
EVNT_ID            2224 non-null float64
CID                2224 non-null float64
ACK_TM             2224 non-null float64
ACK_NO             2224 non-null float64
OCUR_TS_L          2224 non-null object
OCAL               2224 non-null object
timestamp          2224 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(9), object(12)
memory usage: 399.6+ KB

In [159]:
print(op_events1.shape)
op_events1[op_events1.timestamp >= datetime.datetime(2016, 7, 22, 0, 0, 0)].shape

(2224, 22)

(253, 22)

In [160]:
print(op_events1.timestamp.iloc[0])
op_events1.timestamp.iloc[0] + datetime.timedelta(hours=3)

2015-10-06 17:33:13

Timestamp('2015-10-06 20:33:13')

In [164]:
for index, row in logger1.iterrows():
    log_time = row.timestamp
    
    five_hours_ahead = log_time + datetime.timedelta(hours=5)
    
    op_events1[op_events1.timestamp >= log_time & op_events1.timestamp < five_hours_ahead].shape[0]
    
    if log_time + datetime.timedelta(hours=5):
        logger1.ix[index, 'event_in_5_hours'] = 1
    else:
        logger1.ix[index, 'event_in_5_hours'] = 0

In [166]:
logger1.event_in_5_hours.describe()

count    65600.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: event_in_5_hours, dtype: float64

In [19]:
[col for col in logger1.columns]

logger1.drop(logger1['Truck Payload'][logger1['Truck Payload'] == "Parameter not available"].index.values, inplace=True)

In [21]:
logger1['Truck Payload'].head()

0    361.7999878
1    361.7999878
2    361.7999878
3    361.7999878
4    361.7999878
Name: Truck Payload, dtype: object

In [57]:
payload = pd.read_csv("Payload files/Payload trucks 1_10 updated.csv")

/home/ubuntu/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (0,1,2,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [58]:
print(payload.isnull().sum())
payload.dropna(how='all', inplace=True)

MACH_SER_NO         66249
OCUR_TS Date        66249
OCUR_TS Time        66249
PAYLD_WT            66249
LD_TM               66249
EMTY_STOP_TM        66249
EMTY_TRAV_TM        66249
EMTY_TRAV_DSTNC     66249
LD_STOP_TM          66249
LD_TRAV_TM          66249
LD_TRAV_DSTNC       66249
LD_PASS_CT          66249
FUEL_USED_IN_CYC    66249
SHFT_CT             66249
OCUR_TS_LOCAL       66249
dtype: int64

In [59]:
payload.MACH_SER_NO.value_counts()

Truck 8     705
Truck 9     688
Truck 1     680
Truck 5     499
Truck 4     491
Truck 6     429
Truck 3     277
Truck 7     253
Truck 2     219
Truck 10    163
Name: MACH_SER_NO, dtype: int64

In [60]:
payload.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4404 entries, 0 to 4403
Data columns (total 15 columns):
MACH_SER_NO         4404 non-null object
OCUR_TS Date        4404 non-null object
OCUR_TS Time        4404 non-null object
PAYLD_WT            4404 non-null float64
LD_TM               4404 non-null float64
EMTY_STOP_TM        4404 non-null float64
EMTY_TRAV_TM        4404 non-null float64
EMTY_TRAV_DSTNC     4404 non-null float64
LD_STOP_TM          4404 non-null float64
LD_TRAV_TM          4404 non-null float64
LD_TRAV_DSTNC       4404 non-null float64
LD_PASS_CT          4404 non-null float64
FUEL_USED_IN_CYC    4404 non-null float64
SHFT_CT             4404 non-null float64
OCUR_TS_LOCAL       4404 non-null object
dtypes: float64(11), object(4)
memory usage: 550.5+ KB

In [159]:
payload.OCUR_TS_LOCAL.head()[0][10:18]

'12.44.52'

In [130]:
def clean_payload_date_time(reading):
    real_time = reading['OCUR_TS_LOCAL'][10:18]
    pm_or_am = reading['OCUR_TS_LOCAL'][-2:]
    
    cleaned_time = real_time + pm_or_am
    cleaned_time = cleaned_time.replace(".", ":")
    
    cleaned_date = reading['OCUR_TS_LOCAL'][0:9]

    cleaned_date_time = cleaned_date + " " + cleaned_time

    return parser.parse(cleaned_date_time)

In [131]:
payload['timestamp'] = payload.apply(clean_payload_date_time, axis=1)

In [132]:
payload.timestamp.describe()

count                    4404
unique                   4404
top       2016-08-11 04:57:50
freq                        1
first     2016-07-21 19:02:05
last      2016-08-21 17:32:05
Name: timestamp, dtype: object

In [171]:
logger1.timestamp.describe()

count                   59709
unique                  59709
top       2016-07-23 05:28:45
freq                        1
first     2016-07-22 22:45:35
last      2016-08-23 00:00:00
Name: timestamp, dtype: object

In [195]:
test = logger1[logger1.timestamp.apply(lambda x: x.date() == datetime.date(2016, 7, 28))][['timestamp', 'Truck Payload']].sort_values(by='timestamp')

In [196]:
test.to_csv("logger_payload_test2.csv")

In [197]:
payload[(payload.timestamp.apply(lambda x: x.date() == datetime.date(2016, 7, 28))) & (payload.MACH_SER_NO == "Truck 1")][['timestamp', 'PAYLD_WT']]

              timestamp  PAYLD_WT
81  2016-07-27 00:16:32     286.2
82  2016-07-27 00:44:05     282.0
83  2016-07-27 01:34:32     326.3
84  2016-07-27 02:10:19     318.3
85  2016-07-27 03:11:52     330.8
86  2016-07-27 05:00:51     356.0
87  2016-07-27 05:43:53     355.9
88  2016-07-27 06:24:06     365.6
89  2016-07-27 07:41:27     304.2
90  2016-07-27 08:18:15     344.0
91  2016-07-27 08:52:04     358.7
92  2016-07-27 09:16:18     306.5
93  2016-07-27 09:54:42     383.5
94  2016-07-27 10:24:32     336.1
95  2016-07-27 10:54:16     375.0
96  2016-07-27 11:17:54     313.9
97  2016-07-27 12:14:12     360.1
98  2016-07-27 12:33:56     372.7
99  2016-07-27 13:04:10     385.5
100 2016-07-27 13:32:07     298.3
101 2016-07-27 14:13:03     385.8
102 2016-07-27 15:44:23     346.0
103 2016-07-27 17:07:22     332.7
104 2016-07-27 17:40:26     333.7
105 2016-07-27 18:08:06     345.7
106 2016-07-27 18:56:14     356.1
107 2016-07-27 19:27:58     315.7
108 2016-07-27 19:49:13     361.5
109 2016-07-27 21:13:53     343.6
110 2016-07-27 22:14:25     332.1
111 2016-07-27 22:45:11     371.9
112 2016-07-27 23:54:30     337.9

In [199]:
op_events1[op_events1.timestamp.apply(lambda x: x.date()) == datetime.date(2016, 7, 28)][['EVNT_LVL', 'SCND_INFO_TYP', 'PRIM_CMPNT_DESC', 'SCND_CMPNT_DESC', 'timestamp' ]].sort_values(by='timestamp')

,EVNT_LVL,SCND_INFO_TYP,PRIM_CMPNT_DESC,SCND_CMPNT_DESC,timestamp
4712,2.0,Steering Pump Pressure Low,DRIVE TRAIN,STEERING SYSTEM,2016-07-28 15:41:35
4713,2.0,Steering Pump Pressure Low,DRIVE TRAIN,STEERING SYSTEM,2016-07-28 20:54:44
4714,2.0,Steering Pump Pressure Low,DRIVE TRAIN,STEERING SYSTEM,2016-07-28 22:54:32

In [202]:
logger1.sort_values(by='timestamp', inplace=True)

In [216]:
logger1.timestamp.head()

65599   2016-07-22 22:45:35
65598   2016-07-22 22:45:40
65597   2016-07-22 22:45:45
65596   2016-07-22 22:45:50
65595   2016-07-22 22:45:55
Name: timestamp, dtype: datetime64[ns]

In [249]:
logger1['lead_timestamp'] = logger1.timestamp.shift(-1)

In [227]:
test = logger1.iloc[3]

def check_for_new_logger_pull(log):
    delta_1hr = datetime.timedelta(hours=1)
    
    if log.timestamp + delta_1hr < log.lead_timestamp:
        return True
    else:
        return False

In [228]:
logger1['is_pull_time'] = logger1.apply(check_for_new_logger_pull, axis=1)

In [255]:
logger1[logger1.is_pull_time]

,Date,Time,Access Ladder Position Status,Actual Gear,Optional Drive,Air Filter #1 Restriction,Air Filter #2 Restriction,Air Filter #3 Restriction,Air Filter #4 Restriction,Altitude Derate,...,Transmission Output Speed,Truck Payload,Turbocharger #1 Compressor Inlet Pressure (absolute),Turbocharger #2 Compressor Inlet Pressure (absolute),Turbocharger #3 Compressor Inlet Pressure (absolute),Turbocharger #4 Compressor Inlet Pressure (absolute),User Shutdown,timestamp,lead_timestamp,is_pull_time
64695,7/23/2016,0:00:55,Up,0,0,0,0.100000001,0,0,0.0,...,0,0,83.21404266,83.12213898,83.27762604,83.33557129,On,2016-07-23 00:00:55,2016-07-23 05:05:35,True
63975,7/23/2016,6:05:30,Up,-1,0,0,0,0,0,0.0,...,141.5,370.7999878,83.24442291,83.10812378,83.41413116,83.60033417,Off,2016-07-23 06:05:30,2016-07-23 17:00:50,True
63255,7/23/2016,18:00:45,Up,0,0,0,0,0,0,0.0,...,0,361.7000122,82.41134644,82.27999878,82.40291595,82.52088928,Off,2016-07-23 18:00:45,2016-07-24 05:00:50,True
62535,7/24/2016,6:00:45,Up,0,0,0,0,0.009090909,0,0.0,...,0,0,82.76360321,82.86312866,82.80661011,82.76780701,Off,2016-07-24 06:00:45,2016-07-24 11:18:10,True
61815,7/24/2016,12:18:05,Up,3,1,1.799999952,1.700000048,1.299999952,1.399999976,0.0,...,482,385.3999939,81.3182373,81.3182373,82.18499756,81.78606415,Off,2016-07-24 12:18:05,2016-07-25 17:05:15,True
61095,7/25/2016,18:05:10,Up,5,1,0.899999976,0.699999988,0.5,0.699999988,0.0,...,970.666687,0,80.77358246,80.59500122,81.04750061,81.03462982,Off,2016-07-25 18:05:10,2016-07-25 23:03:55,True
60375,7/26/2016,0:03:50,Parameter not available,5,1,1.799999952,1.700000048,1.200000048,1.399999976,0.0,...,733,298.2000122,80.37784576,80.37519836,80.97711182,80.83940125,Off,2016-07-26 00:03:50,2016-07-26 05:11:35,True
59655,7/26/2016,6:11:30,Up,0,0,0.100000001,0.104285717,0,0.104285717,0.0,...,0,110.4000015,85.33776855,85.37969971,85.46864319,85.3801651,Off,2016-07-26 06:11:30,2016-07-26 11:06:05,True
58935,7/26/2016,12:06:00,Up,4,1,1.575000048,1.600000024,1.25,1.340000033,0.0,...,596.5,298.8999939,80.77158356,80.72000122,81.16136932,80.99107361,Off,2016-07-26 12:06:00,2016-07-26 17:01:50,True
58215,7/26/2016,18:01:45,Up,3,1,0.400000006,0.400000006,0.25,0.300000012,0.0,...,541,0,81.62705231,81.62741089,81.90859222,81.77949524,Off,2016-07-26 18:01:45,2016-07-26 23:02:00,True
57495,7/27/2016,0:01:55,Parameter not available,0,0,0.300000012,0.103773586,0.103846155,0.202272728,0.0,...,0,141.6000061,82.46899414,82.62918091,82.62808228,82.58769226,Off,2016-07-27 00:01:55,2016-07-27 05:03:00,True
56775,7/27/2016,6:02:55,Up,5,1,1.100000024,1.200000048,0.899999976,1,0.0,...,982,355.8999939,81.63813019,81.54499817,81.85842133,81.76461792,Off,2016-07-27 06:02:55,2016-07-27 11:02:25,True
56055,7/27/2016,12:02:20,Up,-1,0,0,0,0.004081633,0.008333334,0.0,...,124.8571396,46.5,82.93000031,82.88777924,82.83621979,82.742836,Off,2016-07-27 12:02:20,2016-07-27 17:03:15,True
55335,7/27/2016,18:03:10,Parameter not available,1,0,1.049999952,0.899999976,0.550000012,0.849999964,0.0,...,156,333.7000122,81.38157654,81.5415802,81.79473114,81.43899536,Off,2016-07-27 18:03:10,2016-07-27 23:00:45,True
54615,7/28/2016,0:00:40,Parameter not available,4,1,0.5,0.300000012,0.100000001,0.13636364,0.0,...,655.4285889,0,81.67331696,81.86274719,82.07409668,82.00333405,Off,2016-07-28 00:00:40,2016-07-28 23:05:10,True
53895,7/29/2016,0:05:05,Parameter not available,5,1,0.800000012,0.699999988,0.400000006,0.433333337,0.0,...,798,302.1000061,81.75621796,81.81887054,82.12786102,82.01274109,Off,2016-07-29 00:05:05,2016-07-29 05:05:00,True
53175,7/29/2016,6:04:55,Up,0,0,0,0,0,0,0.0,...,0,0,82.69000244,82.69000244,82.87999725,82.91,Off,2016-07-29 06:04:55,2016-07-29 11:01:55,True
52455,7/29/2016,12:01:50,Up,0,0,0,0,0,0,0.0,...,0,0,81.87999725,81.94000244,81.87999725,81.84,Off,2016-07-29 12:01:50,2016-07-29 17:04:45,True
51735,7/29/2016,18:04:40,Up,1,0,0,0,0,0,0.0,...,0,0,81.87999725,81.77999878,81.94000244,81.91,Off,2016-07-29 18:04:40,2016-07-29 23:05:30,True
51015,7/30/2016,0:05:25,Parameter not available,0,0,0.100000001,0,0,0,0.0,...,0,0,81.74826813,81.87837982,81.99308777,82.1261,Off,2016-07-30 00:05:25,2016-07-30 05:03:10,True
50295,7/30/2016,6:03:05,Up,0,0,0,0,0,0,0.0,...,0,209.3000031,82.97000122,82.87999725,82.97000122,83.09,Off,2016-07-30 06:03:05,2016-07-30 11:06:55,True
49575,7/30/2016,12:06:50,Up,2,1,1.700000048,2,1.399999976,1.399999976,0.0,...,392,341.7000122,81.30999756,80.97000122,81.55999756,81.53,Off,2016-07-30 12:06:50,2016-07-30 17:03:00,True
48855,7/30/2016,18:02:55,Up,6,1,1.866666675,1.899999976,1.5,1.833333254,0.0,...,1055,391.7999878,82.04999542,82.04999542,82.42199707,82.07250214,Off,2016-07-30 18:02:55,2016-07-31 05:04:10,True
48135,7/31/2016,6:04:05,Up,4,1,0.850000024,0.666666687,0.333333343,0.300000012,0.0,...,619,322.2000122,81.3813324,81.60133362,81.98866272,81.85933685,Off,2016-07-31 06:04:05,2016-07-31 11:11:50,True
47415,7/31/2016,12:11:45,Up,0,0,0,0,0,0,0.0,...,0,0,85.0260849,84.80160522,84.95992279,84.94000244,Off,2016-07-31 12:11:45,2016-07-31 17:04:50,True
46695,7/31/2016,18:04:45,Parameter not available,4,1,0.200000003,0.10350877,0,0.003508772,0.0,...,701.333313,0,81.86306,81.9341507,82.11130524,82.02045441,Off,2016-07-31 18:04:45,2016-07-31 23:09:20,True
45975,8/1/2016,0:09:15,Parameter not available,3,1,1.899999976,2.066666603,1.299999952,1.666666627,0.0,...,436,338.2999878,81.31117249,81.26499939,81.94844055,81.68765259,Off,2016-08-01 00:09:15,2016-08-01 05:04:15,True
45255,8/1/2016,6:04:10,Up,0,0,0,0,0.001171875,0,0.0,...,0.015873017,0,82.22013092,82.24993134,82.30899048,82.2203064,Off,2016-08-01 06:04:10,2016-08-01 11:03:15,True
44535,8/1/2016,12:03:10,Up,5,1,0.100000001,0,0,0.084615387,0.0,...,964.75,0,82.25856018,82.35684204,82.39068604,82.25649261,Off,2016-08-01 12:03:10,2016-08-01 17:03:10,True
43815,8/1/2016,18:03:05,Up,4,1,0.600000024,0.5,0.300000012,0.300000012,0.0,...,687,0,80.22000122,80.30999756,80.55999756,80.5,Off,2016-08-01 18:03:05,2016-08-01 23:03:00,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21495,8/11/2016,18:03:00,Up,4,1,0.899999976,0.699999988,0.602469146,0.802380979,0.0,...,751.0526123,0,82.52668762,82.74629211,82.76784515,82.55105591,Off,2016-08-11 18:03:00,2016-08-12 05:04:40,True
20775,8/12/2016,6:04:35,Up,4,1,1.399999976,1.399999976,1,1.200000048,0.0,...,696,338.2000122,79.41000366,79.41000366,79.75,79.62999725,Off,2016-08-12 06:04:35,2016-08-13 05:02:25,True
20055,8/13/2016,6:02:20,Up,1,0,0,0.039999999,0,0,0.0,...,66,297,82.82222748,82.79750061,83.05857086,82.95789337,Off,2016-08-13 06:02:20,2016-08-14 05:11:05,True
19335,8/14/2016,6:11:00,Up,2,1,1.5,1.799999952,1.450000048,1.560000062,0.0,...,387.6000061,332.3999939,81.70058441,81.44285583,81.78479767,81.68999481,Off,2016-08-14 06:11:00,2016-08-14 11:04:00,True
18615,8/14/2016,12:03:55,Up,3,1,0.100000001,0.300000012,0.208333343,0.208000004,0.0,...,546.7999878,360.3999939,82.99406433,82.83093262,82.84965515,82.87999725,Off,2016-08-14 12:03:55,2016-08-14 17:01:10,True
17895,8/14/2016,18:01:05,Up,3,1,0.25,0.300000012,0.200000003,0.300000012,0.0,...,539,375.2999878,82.62236023,82.61853027,82.79148865,82.57148743,Off,2016-08-14 18:01:05,2016-08-14 23:04:20,True
17260,8/14/2016,23:57:10,Up,0,0,0,0.003846154,0.003076923,0,0.0,...,0,333.2000122,82.86110687,82.89111328,82.98466492,82.9497757,Off,2016-08-14 23:57:10,2016-08-15 05:03:45,True
16455,8/15/2016,6:03:40,Up,5,1,0,0.006666667,0,0,0.0,...,799.0526123,0,82.49648285,82.39945984,82.60388947,82.58863068,Off,2016-08-15 06:03:40,2016-08-15 11:03:40,True
15735,8/15/2016,12:03:35,Up,0,0,0,0,0,0,0.0,...,0,0,83.05999756,83.08999634,83.16000366,83.08999634,Off,2016-08-15 12:03:35,2016-08-15 17:27:40,True
15015,8/15/2016,18:27:35,Up,1,1,0.087499999,0,0,0,0.0,...,289,0,82.50088501,82.38036346,82.56099701,82.41335297,Off,2016-08-15 18:27:35,2016-08-16 05:04:40,True
14295,8/16/2016,6:04:35,Up,5,1,1.799999952,1.949999928,1.399999976,1.700000048,0.0,...,952,0,80.4786911,80.4786911,80.87736511,80.69869232,Off,2016-08-16 06:04:35,2016-08-16 11:10:00,True
13575,8/16/2016,12:09:55,Up,2,1,1.899999976,2.099999905,1.700000048,2.099999905,0.0,...,414,322.2000122,81.37999725,81.16000366,81.55999756,81.22000122,Off,2016-08-16 12:09:55,2016-08-16 17:04:15,True
12855,8/16/2016,18:04:10,Parameter not available,2,1,2.200000048,2.400000095,2.097916603,2.297959089,0.0,...,394.8571472,356.6000061,81.10941315,80.94880676,81.29087067,81.0963974,Off,2016-08-16 18:04:10,2016-08-16 23:14:35,True
12135,8/17/2016,0:14:30,Parameter not available,2,1,0.300000012,0.200000003,0.200000003,0.433333337,0.0,...,324.6666565,322.7999878,81.9548645,82.01712799,82.05206299,81.82574463,Off,2016-08-17 00:14:30,2016-08-17 05:05:15,True
11415,8/17/2016,6:05:10,Up,3,1,1.899999976,1.899999976,1.58571434,2,0.0,...,429,328.7000122,81.13462067,81.09408569,81.44430542,81.00473022,Off,2016-08-17 06:05:10,2016-08-17 23:12:00,True
10695,8/18/2016,0:11:55,Parameter not available,3,1,2.149999857,2.25,1.849999905,2.200000048,0.0,...,462.7999878,325,81.2334671,81.14387512,81.53974152,81.17102814,Off,2016-08-18 00:11:55,2016-08-18 05:01:45,True
9975,8/18/2016,6:01:40,Up,3,1,0.899999976,0.899999976,0.699999988,0.899999976,0.0,...,518,363.2999878,82.08661652,82.08778381,82.33756256,82.08857727,Off,2016-08-18 06:01:40,2016-08-18 11:05:30,True
9255,8/18/2016,12:05:25,Up,1,0,0,0,0,0,0.0,...,0,365.8999939,82.26984406,82.32499695,82.20661163,82.09999847,Off,2016-08-18 12:05:25,2016-08-18 17:01:05,True
8535,8/18/2016,18:01:00,Up,0,0,0,0,0,0,0.0,...,0,350.5,82.43782043,82.49983978,82.55863953,82.40759277,Off,2016-08-18 18:01:00,2016-08-19 05:06:15,True
7815,8/19/2016,6:06:10,Up,5,1,0.300000012,0.200000003,0.025,0.174999997,0.0,...,866.4545288,0,81.6783371,81.72000122,81.90374756,81.73625183,Off,2016-08-19 06:06:10,2016-08-19 23:01:50,True
7436,8/19/2016,23:33:20,Up,0,0,0.100000001,0.100000001,0,0.100000001,0.0,...,0,0,83.19000244,83.12999725,83.22000122,83.12999725,Off,2016-08-19 23:33:20,2016-08-20 05:02:00,True
6375,8/20/2016,6:01:55,Up,0,0,0,0,0,0,0.0,...,0,319.8999939,82.27976227,82.15524292,82.1601181,82.24913788,Off,2016-08-20 06:01:55,2016-08-20 11:05:25,True
6203,8/20/2016,11:19:40,Up,0,0,0,0.004347826,0.004166667,0,0.0,...,0,0,82.24993134,82.30992889,82.28018188,82.22022247,Off,2016-08-20 11:19:40,2016-08-20 17:03:25,True
4935,8/20/2016,18:03:20,Up,4,1,0.300000012,0.295454562,0,0.100000001,0.0,...,704.4117432,0,81.60568237,81.63659668,81.97795105,81.87456512,Off,2016-08-20 18:03:20,2016-08-20 23:01:40,True
4215,8/21/2016,0:01:35,Parameter not available,4,1,0.449999988,0.300000012,0.114285715,0.114285715,0.0,...,596.2000122,368.8999939,81.7351532,81.89945984,82.07933044,82.04801941,Off,2016-08-21 00:01:35,2016-08-21 05:02:15,True
3495,8/21/2016,6:02:10,Up,3,1,0.200000003,0.300000012,0.123076923,0.300000012,0.0,...,460.2000122,0,82.89628601,82.86343384,82.98457336,82.82885742,Off,2016-08-21 06:02:10,2016-08-21 11:22:15,True
2775,8/21/2016,12:22:10,Up,0,0,0,0,0.00141844,0,0.0,...,0,0,83.02716827,83.02823639,83.12889099,82.96678925,Off,2016-08-21 12:22:10,2016-08-21 17:05:40,True
2055,8/21/2016,18:05:35,Up,4,1,2.599999905,2.5,2.299999952,2.700000048,0.0,...,659.25,351.6000061,79.85592651,79.89109039,80.10124969,79.75,Off,2016-08-21 18:05:35,2016-08-21 23:11:55,True
1335,8/22/2016,0:11:50,Parameter not available,2,1,2.5,2.514285564,2.214285612,2.633333445,0.0,...,370.1666565,357.8999939,80.80553436,80.78444672,81.11553192,80.70000458,Off,2016-08-22 00:11:50,2016-08-22 05:02:10,True
615,8/22/2016,6:02:05,Up,2,1,2.5,2.5,2.200000048,2.5,0.0,...,402,341.5,80.44000244,80.41000366,80.72000122,80.41000366,Off,2016-08-22 06:02:05,2016-08-22 23:08:50,True

In [259]:
logger1 = logger1.reset_index()

In [386]:
pull_times = []
i=0

for index, row in logger1.iterrows():
    
    if row.is_pull_time:
        if not pull_times:
            pull_times.append(row.timestamp)
            logger1.ix[index, 'previous_pull'] = datetime.datetime(2000, 1, 1, 0, 0, 0)
            logger1.ix[index, 'session'] = i
        else:
            logger1.ix[index, 'previous_pull'] = pull_times[i]
            logger1.ix[index, 'session'] = i
            i += 1
            pull_times.append(row.timestamp)
    else:
        logger1.ix[index, 'session'] = i

In [267]:
logger1[logger1.is_pull_time].head()

,index,Date,Time,Access Ladder Position Status,Actual Gear,Optional Drive,Air Filter #1 Restriction,Air Filter #2 Restriction,Air Filter #3 Restriction,Air Filter #4 Restriction,...,Truck Payload,Turbocharger #1 Compressor Inlet Pressure (absolute),Turbocharger #2 Compressor Inlet Pressure (absolute),Turbocharger #3 Compressor Inlet Pressure (absolute),Turbocharger #4 Compressor Inlet Pressure (absolute),User Shutdown,timestamp,lead_timestamp,is_pull_time,previous_pull
200,64695,7/23/2016,0:00:55,Up,0,0,0,0.100000001,0,0,...,0,83.21404266,83.12213898,83.27762604,83.33557129,On,2016-07-23 00:00:55,2016-07-23 05:05:35,True,2000-01-01 00:00:00
920,63975,7/23/2016,6:05:30,Up,-1,0,0,0,0,0,...,370.7999878,83.24442291,83.10812378,83.41413116,83.60033417,Off,2016-07-23 06:05:30,2016-07-23 17:00:50,True,2016-07-23 00:00:55
1640,63255,7/23/2016,18:00:45,Up,0,0,0,0,0,0,...,361.7000122,82.41134644,82.27999878,82.40291595,82.52088928,Off,2016-07-23 18:00:45,2016-07-24 05:00:50,True,2016-07-23 06:05:30
2360,62535,7/24/2016,6:00:45,Up,0,0,0,0,0.009090909,0,...,0,82.76360321,82.86312866,82.80661011,82.76780701,Off,2016-07-24 06:00:45,2016-07-24 11:18:10,True,2016-07-23 18:00:45
3080,61815,7/24/2016,12:18:05,Up,3,1,1.799999952,1.700000048,1.299999952,1.399999976,...,385.3999939,81.3182373,81.3182373,82.18499756,81.78606415,Off,2016-07-24 12:18:05,2016-07-25 17:05:15,True,2016-07-24 06:00:45

In [387]:
session_events_dict = {}
for index, row in logger1.iterrows():
    if row.is_pull_time:
        time_of_pull = row.timestamp
        previous_pull = row.previous_pull
        delta_1hr = datetime.timedelta(hours=1)
        
        events_in_past_hour = op_events[(op_events.MACH_SER_NO == 'Truck 1') & (op_events.timestamp >= time_of_pull - delta_1hr) \
                                     & (op_events.timestamp < time_of_pull)]
        
        if events_in_past_hour.shape[0] > 0:
            logger1.ix[index, 'is_candidate_positive_example'] = True
            session_events_dict[row.session] = events_in_past_hour
        else: 
            logger1.ix[index, 'is_candidate_positive_example'] = False
            
        events_between_current_and_last_pull = \
        op_events[(op_events.MACH_SER_NO == 'Truck 1') & (op_events.timestamp <= time_of_pull) \
        & (op_events.timestamp >= previous_pull)]

        if events_between_current_and_last_pull.shape[0] == 0:
            logger1.ix[index, 'is_negative_example'] = True
        else: 
            logger1.ix[index, 'is_negative_example'] = False
    else:
        logger1.ix[index, 'is_candidate_positive_example'] = False
        logger1.ix[index, 'is_negative_example'] = False

In [390]:
session_events_dict.keys()

dict_keys([0.0, 1.0, 5.0, 6.0, 71.0, 72.0, 12.0, 17.0, 18.0, 19.0, 21.0, 23.0, 24.0, 70.0, 40.0, 42.0, 44.0, 45.0, 46.0, 48.0, 49.0, 50.0, 83.0, 55.0, 56.0, 62.0])

In [732]:
session_events_dict[17][['MACH_SER_NO', 'SCND_INFO_TYP', 'timestamp']]

     MACH_SER_NO                          SCND_INFO_TYP           timestamp
4310     Truck 1  Torque Converter Oil Temperature High 2016-07-29 17:22:32

In [412]:
logger1[logger1.session == 17][['timestamp', 'Torque Converter Outlet Temperature']].to_csv('logger1_session17.csv')

In [382]:
payload[(payload.MACH_SER_NO=='Truck 1') & \
        (payload.timestamp.apply(lambda x: x.date()) == datetime.date(2016, 8, 21))][['timestamp','PAYLD_WT']]

              timestamp  PAYLD_WT
663 2016-08-21 00:07:02     290.6
664 2016-08-21 01:36:18     304.0
665 2016-08-21 02:23:02     352.4
666 2016-08-21 03:20:01     344.2
667 2016-08-21 04:49:16     325.2
668 2016-08-21 05:36:16     342.9
669 2016-08-21 07:36:41     379.9
670 2016-08-21 08:17:36     331.8
671 2016-08-21 08:45:59     361.9
672 2016-08-21 09:18:33     348.2
673 2016-08-21 10:48:05     405.9
674 2016-08-21 12:04:30     353.4
675 2016-08-21 13:24:34     353.7
676 2016-08-21 14:22:22     349.4
677 2016-08-21 15:18:23     335.6
678 2016-08-21 16:13:35     295.9
679 2016-08-21 17:01:14     374.5

In [381]:
logger1[logger1.session == 84][['timestamp', 'Truck Payload']].to_csv('test.csv')

In [ ]:
logger1[logger1.session == 1][['timestamp', 'Truck Payload']]

In [284]:
print(logger1[logger1.is_pull_time].is_negative_example.sum())
print(logger1[logger1.is_pull_time].is_candidate_positive_example.sum())

9
27

In [285]:
(logger1.is_negative_example & logger1.is_candidate_positive_example).sum()

0

In [292]:
logger1[logger1.is_candidate_positive_example].head()

,index,Date,Time,Access Ladder Position Status,Actual Gear,Optional Drive,Air Filter #1 Restriction,Air Filter #2 Restriction,Air Filter #3 Restriction,Air Filter #4 Restriction,...,Turbocharger #3 Compressor Inlet Pressure (absolute),Turbocharger #4 Compressor Inlet Pressure (absolute),User Shutdown,timestamp,lead_timestamp,is_pull_time,previous_pull,is_candidate_positive_example,is_negative_example,session
200,64695,7/23/2016,0:00:55,Up,0,0,0,0.100000001,0,0,...,83.27762604,83.33557129,On,2016-07-23 00:00:55,2016-07-23 05:05:35,True,2000-01-01 00:00:00,True,False,0.0
920,63975,7/23/2016,6:05:30,Up,-1,0,0,0,0,0,...,83.41413116,83.60033417,Off,2016-07-23 06:05:30,2016-07-23 17:00:50,True,2016-07-23 00:00:55,True,False,1.0
1640,63255,7/23/2016,18:00:45,Up,0,0,0,0,0,0,...,82.40291595,82.52088928,Off,2016-07-23 18:00:45,2016-07-24 05:00:50,True,2016-07-23 06:05:30,True,False,2.0
4317,60375,7/26/2016,0:03:50,Parameter not available,5,1,1.799999952,1.700000048,1.200000048,1.399999976,...,80.97711182,80.83940125,Off,2016-07-26 00:03:50,2016-07-26 05:11:35,True,2016-07-25 18:05:10,True,False,6.0
5037,59655,7/26/2016,6:11:30,Up,0,0,0.100000001,0.104285717,0,0.104285717,...,85.46864319,85.3801651,Off,2016-07-26 06:11:30,2016-07-26 11:06:05,True,2016-07-26 00:03:50,True,False,7.0

In [293]:
logger1[logger1.session == 0]

,index,Date,Time,Access Ladder Position Status,Actual Gear,Optional Drive,Air Filter #1 Restriction,Air Filter #2 Restriction,Air Filter #3 Restriction,Air Filter #4 Restriction,...,Turbocharger #3 Compressor Inlet Pressure (absolute),Turbocharger #4 Compressor Inlet Pressure (absolute),User Shutdown,timestamp,lead_timestamp,is_pull_time,previous_pull,is_candidate_positive_example,is_negative_example,session
0,65599,7/22/2016,22:45:35,Up,1,1,0.200000003,0.114285715,0.16842106,0.314285725,...,83.31813049,83.16915894,Off,2016-07-22 22:45:35,2016-07-22 22:45:40,False,NaT,False,False,0.0
1,65598,7/22/2016,22:45:40,Up,1,0,0.100000001,0,0.115789473,0.200000003,...,83.33169556,83.1844101,Off,2016-07-22 22:45:40,2016-07-22 22:45:45,False,NaT,False,False,0.0
2,65597,7/22/2016,22:45:45,Up,1,0,0.100000001,0,0.063157894,0.200000003,...,83.34525299,83.19966125,Off,2016-07-22 22:45:45,2016-07-22 22:45:50,False,NaT,False,False,0.0
3,65596,7/22/2016,22:45:50,Up,1,0,0.100000001,0,0.010526316,0.200000003,...,83.35881042,83.21492004,Off,2016-07-22 22:45:50,2016-07-22 22:45:55,False,NaT,False,False,0.0
4,65595,7/22/2016,22:45:55,Up,1,0,0.100000001,0,0.01,0.200000003,...,83.37237549,83.2301712,Off,2016-07-22 22:45:55,2016-07-22 22:46:00,False,NaT,False,False,0.0
5,65594,7/22/2016,22:46:00,Up,1,0,0.100000001,0,0.022500001,0.200000003,...,83.38593292,83.24542236,Off,2016-07-22 22:46:00,2016-07-22 22:46:05,False,NaT,False,False,0.0
6,65593,7/22/2016,22:46:05,Up,1,0,0.100000001,0,0.035,0.200000003,...,83.39949036,83.26068115,Off,2016-07-22 22:46:05,2016-07-22 22:46:10,False,NaT,False,False,0.0
7,65592,7/22/2016,22:46:10,Up,1,0,0.100000001,0,0.047499999,0.200000003,...,83.41304779,83.27593231,Off,2016-07-22 22:46:10,2016-07-22 22:46:15,False,NaT,False,False,0.0
8,65591,7/22/2016,22:46:15,Up,1,0,0.100000001,0,0.060000002,0.200000003,...,83.42661285,83.29118347,Off,2016-07-22 22:46:15,2016-07-22 22:46:20,False,NaT,False,False,0.0
9,65590,7/22/2016,22:46:20,Up,1,0,0.100000001,0,0.072499998,0.200000003,...,83.44017029,83.30643463,Off,2016-07-22 22:46:20,2016-07-22 22:46:25,False,NaT,False,False,0.0
10,65589,7/22/2016,22:46:25,Up,0,0,0.100000001,0,0.085000001,0.200000003,...,83.45372772,83.32169342,Off,2016-07-22 22:46:25,2016-07-22 22:46:30,False,NaT,False,False,0.0
11,65588,7/22/2016,22:46:30,Up,0,0,0.100000001,0,0.097500004,0.200000003,...,83.46729279,83.33694458,Off,2016-07-22 22:46:30,2016-07-22 22:47:15,False,NaT,False,False,0.0
12,65579,7/22/2016,22:47:15,Up,0,0,0,0,0,0,...,83.66000366,83.62999725,Off,2016-07-22 22:47:15,2016-07-22 22:51:05,False,NaT,False,False,0.0
13,65533,7/22/2016,22:51:05,Up,0,0,0,0,0,0,...,83.69000244,83.69000244,Off,2016-07-22 22:51:05,2016-07-22 22:52:10,False,NaT,False,False,0.0
14,65520,7/22/2016,22:52:10,Up,0,0,0,0,0,0,...,83.55999756,83.52999878,Off,2016-07-22 22:52:10,2016-07-22 22:52:15,False,NaT,False,False,0.0
15,65519,7/22/2016,22:52:15,Up,0,0,0,0,0,0,...,83.44000244,83.47000122,Off,2016-07-22 22:52:15,2016-07-22 23:45:35,False,NaT,False,False,0.0
16,64879,7/22/2016,23:45:35,Up,0,0,0,0.008695653,0.005405406,0.002777778,...,83.08302307,83.08242798,On,2016-07-22 23:45:35,2016-07-22 23:45:40,False,NaT,False,False,0.0
17,64878,7/22/2016,23:45:40,Up,0,0,0,0.030434784,0.018918918,0.009722223,...,83.0655899,83.06351471,On,2016-07-22 23:45:40,2016-07-22 23:45:45,False,NaT,False,False,0.0
18,64877,7/22/2016,23:45:45,Up,0,0,0,0.052173913,0.032432433,0.016666668,...,83.04815674,83.04460144,On,2016-07-22 23:45:45,2016-07-22 23:45:50,False,NaT,False,False,0.0
19,64876,7/22/2016,23:45:50,Up,0,0,0,0.073913045,0.045945946,0.023611112,...,83.03072357,83.02568817,On,2016-07-22 23:45:50,2016-07-22 23:45:55,False,NaT,False,False,0.0
20,64875,7/22/2016,23:45:55,Up,0,0,0.100000001,0.095652178,0.059459459,0.030555556,...,83.01328278,83.0067749,On,2016-07-22 23:45:55,2016-07-22 23:46:00,False,NaT,False,False,0.0
21,64874,7/22/2016,23:46:00,Up,0,0,0.100000001,0.108000003,0.072972976,0.037500001,...,82.99584961,82.98786163,On,2016-07-22 23:46:00,2016-07-22 23:46:05,False,NaT,False,False,0.0
22,64873,7/22/2016,23:46:05,Up,0,0,0.100000001,0.118000001,0.086486489,0.044444446,...,82.97841644,82.96894073,On,2016-07-22 23:46:05,2016-07-22 23:46:10,False,NaT,False,False,0.0
23,64872,7/22/2016,23:46:10,Up,0,0,0.100000001,0.128000006,0.100000001,0.05138889,...,82.96098328,82.95002747,On,2016-07-22 23:46:10,2016-07-22 23:46:15,False,NaT,False,False,0.0
24,64871,7/22/2016,23:46:15,Up,0,0,0.100000001,0.137999997,0.113513514,0.058333334,...,82.94355011,82.9311142,On,2016-07-22 23:46:15,2016-07-22 23:46:20,False,NaT,False,False,0.0
25,64870,7/22/2016,23:46:20,Up,0,0,0.100000001,0.148000002,0.127027035,0.065277778,...,82.92611694,82.91220093,On,2016-07-22 23:46:20,2016-07-22 23:46:25,False,NaT,False,False,0.0
26,64869,7/22/2016,23:46:25,Up,0,0,0.100000001,0.158000007,0.14054054,0.072222225,...,82.90868378,82.89328766,On,2016-07-22 23:46:25,2016-07-22 23:46:30,False,NaT,False,False,0.0
27,64868,7/22/2016,23:46:30,Up,0,0,0.100000001,0.167999998,0.154054061,0.079166666,...,82.89125061,82.87437439,On,2016-07-22 23:46:30,2016-07-22 23:46:35,False,NaT,False,False,0.0
28,64867,7/22/2016,23:46:35,Up,0,0,0.100000001,0.178000003,0.167567566,0.086111113,...,82.87380981,82.85546112,On,2016-07-22 23:46:35,2016-07-22 23:46:40,False,NaT,False,False,0.0
29,64866,7/22/2016,23:46:40,Up,0,0,0.100000001,0.188000008,0.181081086,0.093055554,...,82.85637665,82.83654022,On,2016-07-22 23:46:40,2016-07-22 23:46:45,False,NaT,False,False,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,64005,7/23/2016,6:03:00,Up,2,1,1.799999952,1.946666598,1.246774197,1.245901585,...,81.87436676,82.36954498,Off,2016-07-23 06:03:00,2016-07-23 06:03:05,False,NaT,False,False,0.0
891,64004,7/23/2016,6:03:05,Up,2,1,1.799999952,1.938333273,1.238709688,1.237704873,...,81.91368866,82.38999939,Off,2016-07-23 06:03:05,2016-07-23 06:03:10,False,NaT,False,False,0.0
892,64003,7/23/2016,6:03:10,Up,2,1,1.799999952,1.929999948,1.23064518,1.229508162,...,81.95301056,82.4104538,Off,2016-07-23 06:03:10,2016-07-23 06:03:15,False,NaT,False,False,0.0
893,64002,7/23/2016,6:03:15,Up,2,1,1.799999952,1.921666622,1.222580671,1.22131145,...,81.99232483,82.4309082,Off,2016-07-23 06:03:15,2016-07-23 06:03:20,False,NaT,False,False,0.0
894,64001,7/23/2016,6:03:20,Up,2,1,1.799999952,1.913333297,1.214516163,1.213114738,...,82.03164673,82.45136261,Off,2016-07-23 06:03:20,2016-07-23 06:03:25,False,NaT,False,False,0.0
895,64000,7/23/2016,6:03:25,Up,2,1,1.799999952,1.904999971,1.206451654,1.204918027,...,82.07096863,82.47181702,Off,2016-07-23 06:03:25,2016-07-23 06:03:30,False,NaT,False,False,0.0
896,63999,7/23/2016,6:03:30,Up,2,1,1.600000024,1.894999981,1.200000048,1.194871783,...,82.11029053,82.49227142,Off,2016-07-23 06:03:30,2016-07-23 06:03:35,False,NaT,False,False,0.0
897,63998,7/23/2016,6:03:35,Up,2,1,1.700000048,1.882499933,1.200000048,1.182051301,...,82.14961243,82.51272583,Off,2016-07-23 06:03:35,2016-07-23 06:03:40,False,NaT,False,False,0.0
898,63997,7/23/2016,6:03:40,Up,2,1,1.799999952,1.870000005,1.200000048,1.169230819,...,82.1889267,82.53318024,Off,2016-07-23 06:03:40,2016-07-23 06:03:45,False,NaT,False,False,0.0
899,63996,7/23/2016,6:03:45,Up,2,1,1.700000048,1.857499957,1.200000048,1.156410336,...,82.2282486,82.55363464,Off,2016-07-23 06:03:45,2016-07-23 06:03:50,False,NaT,False,False,0.0
900,63995,7/23/2016,6:03:50,Up,2,1,1.700000048,1.844999909,1.200000048,1.143589735,...,82.2675705,82.57408905,Off,2016-07-23 06:03:50,2016-07-23 06:03:55,False,NaT,False,False,0.0
901,63994,7/23/2016,6:03:55,Up,2,1,1.700000048,1.832499981,1.200000048,1.130769253,...,82.3068924,82.59454346,Off,2016-07-23 06:03:55,2016-07-23 06:04:00,False,NaT,False,False,0.0
902,63993,7/23/2016,6:04:00,Up,2,1,1.600000024,1.819999933,1.200000048,1.117948771,...,82.34621429,82.61499786,Off,2016-07-23 06:04:00,2016-07-23 06:04:05,False,NaT,False,False,0.0
903,63992,7/23/2016,6:04:05,Up,2,1,1.700000048,1.807500005,1.137500048,1.105128288,...,82.38552856,82.63545227,Off,2016-07-23 06:04:05,2016-07-23 06:04:10,False,NaT,False,False,0.0
904,63991,7/23/2016,6:04:10,Up,2,1,0.5,0.699999988,0.200000003,0.200000003,...,82.42485046,82.65590668,Off,2016-07-23 06:04:10,2016-07-23 06:04:15,False,NaT,False,False,0.0
905,63990,7/23/2016,6:04:15,Up,3,1,1.5,1.700000048,1,1,...,82.46417236,82.67636108,Off,2016-07-23 06:04:15,2016-07-23 06:04:20,False,NaT,False,False,0.0
906,63989,7/23/2016,6:04:20,Up,4,1,1.299999952,1.544444442,0.850000024,0.924999952,...,82.50349426,82.69681549,Off,2016-07-23 06:04:20,2016-07-23 06:04:25,False,NaT,False,False,0.0
907,63988,7/23/2016,6:04:25,Up,4,1,1.600000024,1.766666651,1.080000043,1.080000043,...,82.54280853,82.7172699,Off,2016-07-23 06:04:25,2016-07-23 06:04:30,False,NaT,False,False,0.0
908,63987,7/23/2016,6:04:30,Up,5,1,0.699999988,0.800000012,0.300000012,0.300000012,...,82.58213043,82.7377243,Off,2016-07-23 06:04:30,2016-07-23 06:04:35,False,NaT,False,False,0.0
909,63986,7/23/2016,6:04:35,Up,4,1,0,0,0,0,...,82.64586639,82.77983856,Off,2016-07-23 06:04:35,2016-07-23 06:04:40,False,NaT,False,False,0.0
910,63985,7/23/2016,6:04:40,Up,3,1,0,0,0,0,...,82.7157135,82.85442352,Off,2016-07-23 06:04:40,2016-07-23 06:04:45,False,NaT,False,False,0.0
911,63984,7/23/2016,6:04:45,Up,3,1,0,0,0,0,...,82.78555298,82.92901611,Off,2016-07-23 06:04:45,2016-07-23 06:04:50,False,NaT,False,False,0.0
912,63983,7/23/2016,6:04:50,Up,3,1,0,0,0,0,...,82.85539246,83.0036087,Off,2016-07-23 06:04:50,2016-07-23 06:04:55,False,NaT,False,False,0.0
913,63982,7/23/2016,6:04:55,Up,2,1,0.100000001,0.200000003,0,0,...,82.92523956,83.07820129,Off,2016-07-23 06:04:55,2016-07-23 06:05:00,False,NaT,False,False,0.0
914,63981,7/23/2016,6:05:00,Up,2,1,0,0,0,0,...,82.99507904,83.15278625,Off,2016-07-23 06:05:00,2016-07-23 06:05:05,False,NaT,False,False,0.0
915,63980,7/23/2016,6:05:05,Up,1,0,0,0,0,0,...,83.06491852,83.22737885,Off,2016-07-23 06:05:05,2016-07-23 06:05:10,False,NaT,False,False,0.0
916,63979,7/23/2016,6:05:10,Up,-1,0,0,0,0,0,...,83.134758,83.30197144,Off,2016-07-23 06:05:10,2016-07-23 06:05:15,False,NaT,False,False,0.0
917,63978,7/23/2016,6:05:15,Up,-1,0,0,0,0,0,...,83.2046051,83.3765564,Off,2016-07-23 06:05:15,2016-07-23 06:05:20,False,NaT,False,False,0.0
918,63977,7/23/2016,6:05:20,Up,-1,0,0,0,0,0,...,83.27444458,83.45114899,Off,2016-07-23 06:05:20,2016-07-23 06:05:25,False,NaT,False,False,0.0
919,63976,7/23/2016,6:05:25,Up,-1,0,0,0,0,0,...,83.34428406,83.52574158,Off,2016-07-23 06:05:25,2016-07-23 06:05:30,False,NaT,False,False,0.0

In [301]:
logger1[(logger1.session == 0) & (logger1.is_pull_time)]

,index,Date,Time,Access Ladder Position Status,Actual Gear,Optional Drive,Air Filter #1 Restriction,Air Filter #2 Restriction,Air Filter #3 Restriction,Air Filter #4 Restriction,...,Turbocharger #3 Compressor Inlet Pressure (absolute),Turbocharger #4 Compressor Inlet Pressure (absolute),User Shutdown,timestamp,lead_timestamp,is_pull_time,previous_pull,is_candidate_positive_example,is_negative_example,session
200,64695,7/23/2016,0:00:55,Up,0,0,0,0.100000001,0,0,...,83.27762604,83.33557129,On,2016-07-23 00:00:55,2016-07-23 05:05:35,True,2000-01-01,True,False,0.0

In [353]:
def find_events_for_session(logger_df, session, truck='Truck 1'):
    pull_time_log = logger_df[(logger_df.session == session) & logger_df.is_pull_time]
    
    delta_1hr = datetime.timedelta(hours=1)
    time_of_pull = list(pull_time_log.timestamp)[0]
    
    return op_events[(op_events.MACH_SER_NO == truck) & (op_events.timestamp >= time_of_pull - delta_1hr) \
                                     & (op_events.timestamp < time_of_pull)]

In [350]:
pull_time_log = logger1[(logger1.session == 0) & logger1.is_pull_time]
time_of_pull = list(pull_time_log.timestamp)[0]
delta_1hr = datetime.timedelta(hours=1)

In [346]:
datetime.timedelta(hours=1)

datetime.timedelta(0, 3600)

In [354]:
find_events_for_session(logger1, 0, 'Truck 1')

,MACH_SER_NO,PRIM_INFO_TYP,SCND_INFO_TYP,SCND_INFO_DESC,PRIM_CMPNT_DESC,SCND_CMPNT_DESC,OCUR_TS_Date,OCUR_TS,SMU,MID,...,EVNT_LVL,DUR,ACT_LMT,EVNT_ID,CID,ACK_TM,ACK_NO,OCUR_TS_L,OCAL,timestamp
4739,Truck 1,EVENT,Steering Pump Pressure Low,Steering Pump Pressure Low,DRIVE TRAIN,STEERING SYSTEM,23-Jul-16,04.45.59.000000000 AM,26010.35,87.0,...,2.0,11,5000.0,542.0,542.0,0.0,0.0,22-Jul-16,11.45.59.000000000 PM,2016-07-22 23:45:59

In [417]:
# need to play with oil temperature

torque_temp_17 = logger1[logger1.session == 17][['timestamp', 'Torque Converter Outlet Temperature']].copy().reset_index()

In [418]:
torque_temp_17.head()

   index           timestamp Torque Converter Outlet Temperature
0  11579 2016-07-29 17:04:45                         94.04734039
1  11580 2016-07-29 17:04:50                         94.10650635
2  11581 2016-07-29 17:04:55                         94.16567993
3  11582 2016-07-29 17:05:00                         94.22485352
4  11583 2016-07-29 17:05:05                          94.2840271

In [423]:
torque_temp_17.dtypes

index                                           int64
timestamp                              datetime64[ns]
Torque Converter Outlet Temperature            object
dtype: object

In [425]:
torque_temp_17.columns = ['index','timestamp', 'torque_temp']

In [437]:
torque_temp_17.drop('index', axis=1, inplace=True)

In [428]:
torque_temp_17.torque_temp = torque_temp_17.torque_temp.apply(float)

In [435]:
torque_temp_17.torque_temp.autocorr(lag = 30)

0.76032418271370639

In [439]:
torque_temp_17.index = torque_temp_17.timestamp

In [440]:
pd.rolling_mean(torque_temp_17.torque_temp, window = 10, center = True, freq = 'D').plot()

/home/ubuntu/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:5182: FutureWarning: The freq kw is deprecated and will be removed in a future version. You can resample prior to passing to a window function
  center=center, win_type=win_type, axis=axis)
/home/ubuntu/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(freq=D,center=True,window=10).mean()
  if __name__ == '__main__':

ImportError: libSM.so.6: cannot open shared object file: No such file or directory

In [445]:
import statsmodels as sm
from statsmodels.graphics.tsaplots import plot_acf

In [577]:
torque_temp_17.shape

(720, 2)

In [505]:
model = sm.tsa.arima_model.ARIMA(torque_temp_17.torque_temp, (4,1,1)).fit()

model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                             ARIMA Model Results
==============================================================================
Dep. Variable:          D.torque_temp   No. Observations:                  719
Model:                 ARIMA(4, 1, 1)   Log Likelihood                -232.443
Method:                       css-mle   S.D. of innovations              0.334
Date:                Sun, 25 Sep 2016   AIC                            478.886
Time:                        17:12:27   BIC                            510.931
Sample:                    07-29-2016   HQIC                           491.257
                         - 07-29-2016
=======================================================================================
                          coef    std err          z      P>|z|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------------
const                   0.0034      0.022      0.155      0.877        -0.040     0.046
ar.L1.D.torque_temp     1.5538      0.153     10.186      0.000         1.255     1.853
ar.L2.D.torque_temp    -0.9208      0.131     -7.012      0.000        -1.178    -0.663
ar.L3.D.torque_temp     0.3626      0.074      4.909      0.000         0.218     0.507
ar.L4.D.torque_temp    -0.1293      0.038     -3.447      0.001        -0.203    -0.056
ma.L1.D.torque_temp    -0.7654      0.151     -5.062      0.000        -1.062    -0.469
                                    Roots
=============================================================================
                 Real           Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1            1.2368           -0.3727j            1.2918           -0.0466
AR.2            1.2368           +0.3727j            1.2918            0.0466
AR.3            0.1653           -2.1465j            2.1529           -0.2378
AR.4            0.1653           +2.1465j            2.1529            0.2378
MA.1            1.3065           +0.0000j            1.3065            0.0000
-----------------------------------------------------------------------------
"""

In [507]:
model.predict().describe()

/home/ubuntu/anaconda3/lib/python3.5/site-packages/statsmodels/base/data.py:503: FutureWarning: TimeSeries is deprecated. Please use Series
  return TimeSeries(result, index=self.predict_dates)

count    719.000000
mean       0.004044
std        0.292566
min       -2.283478
25%       -0.011081
50%        0.003763
75%        0.021955
max        1.754156
dtype: float64

In [578]:
model = sm.tsa.arima_model.ARMA(torque_temp_17.torque_temp, (4,2)).fit()

model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                              ARMA Model Results
==============================================================================
Dep. Variable:            torque_temp   No. Observations:                  720
Model:                     ARMA(4, 2)   Log Likelihood                -233.839
Method:                       css-mle   S.D. of innovations              0.333
Date:                Sun, 25 Sep 2016   AIC                            483.679
Time:                        17:39:45   BIC                            520.313
Sample:                    07-29-2016   HQIC                           497.821
                         - 07-29-2016
=====================================================================================
                        coef    std err          z      P>|z|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------------
const                97.5278      2.325     41.940      0.000        92.970   102.086
ar.L1.torque_temp     2.1129      0.090     23.429      0.000         1.936     2.290
ar.L2.torque_temp    -1.2558      0.184     -6.816      0.000        -1.617    -0.895
ar.L3.torque_temp     0.0347      0.165      0.210      0.834        -0.289     0.358
ar.L4.torque_temp     0.1072      0.057      1.865      0.063        -0.005     0.220
ma.L1.torque_temp    -0.3236      0.093     -3.463      0.001        -0.507    -0.140
ma.L2.torque_temp    -0.4354      0.085     -5.105      0.000        -0.603    -0.268
                                    Roots
=============================================================================
                 Real           Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1            1.0088           -0.0000j            1.0088           -0.0000
AR.2            1.4686           -0.0978j            1.4719           -0.0106
AR.3            1.4686           +0.0978j            1.4719            0.0106
AR.4           -4.2694           -0.0000j            4.2694           -0.5000
MA.1            1.1887           +0.0000j            1.1887            0.0000
MA.2           -1.9320           +0.0000j            1.9320            0.5000
-----------------------------------------------------------------------------
"""

In [724]:
start_time = 209
end_time = start_time + 5

preds = model.predict(start=start_time, end=end_time, dynamic=True)

/home/ubuntu/anaconda3/lib/python3.5/site-packages/statsmodels/base/data.py:503: FutureWarning: TimeSeries is deprecated. Please use Series
  return TimeSeries(result, index=self.predict_dates)

In [725]:
preds = (preds + 4)

In [726]:
preds.index = pd.Series(preds.index).apply(lambda x: x.time())

In [727]:
preds = pd.DataFrame({'timestamp': preds.index, 'torque_oil_temp': preds.values})

In [728]:
preds.to_csv("preds.csv", index=False)